.hero-banner.hero-fixed-bg-3 {
  --color-foreground: 0, 0, 0;
  --color-heading: 0, 0, 0;
  --color-secondary-button-text: 0, 0, 0;
  --color-secondary-button-text-hover: 0, 0, 0;
}

.hero-banner {
  width: 100%;
  height: 700px;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.collection-banner .hero-banner {
  height: 420px;
}

.hero-banner .hero-heading {
  margin-top: 8px;
}

.hero-banner .hero-text {
  margin-top: 8px;
}

.hero-banner .hero-button {
  margin-top: 32px;
}

.hero-banner .content-box {
    max-width: 520px;
}

@media (max-width: 991px) {
  .hero-banner .hero-heading {
    font-size: 42px;
  }

  .hero-banner .hero-text {
    max-width: 520px;
  }
}

@media (max-width: 767px) {
  .hero-fixed-bg {
    height: 600px;
  }

  .hero-banner .hero-heading {
    font-size: 38px;
  }

  .hero-banner .hero-text {
    max-width: 450px;
  }
}

@media (max-width: 575px) {
  .hero-banner {
    background-position: center left 30%;
  }
}
