.image-text-card {
  overflow: hidden;
  --heading-color: #ffffff;
}

.image-text-media img {
  width: 100%;
  transition: all 0.5s ease-in-out;
  height: auto;
}

.image-text-card:hover > .image-text-media img {
  transform: scale(1.1);
  transform-origin: center;
}

.image-text-card .text-content-box {
  max-width: 378px;
  text-align: center;
  padding: 20px;
}

.image-text-card .image-text-heading a {
  color: var(--heading-color);
}

.image-text-card-plant .image-text-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  cursor: pointer;
}

.image-text-card-plant .content-absolute {
  z-index: unset;
}

.image-text-card-plant .text-content-box {
  z-index: 11;
}

@media (max-width: 767px) {
  .image-text-card .image-text-heading a {
    font-size: 28px;
  }
}
